In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/zoo_animals.csv')
df.head()

,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [5]:
df.columns

Index(['animal name', 'hair', 'feathers', 'eggs', 'milk', 'airborne',
       'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous',
       'fins', 'legs', 'tail', 'domestic', 'catsize', 'type'],
      dtype='object')

In [18]:
X = df.drop(columns=['animal name','type'])
y = df['type']

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
model = RandomForestClassifier()

In [23]:
model.fit(X_train, y_train)

RandomForestClassifier()

In [24]:
model.score(X_test, y_test)

0.9615384615384616

In [25]:
model.predict(X_test)

array([1, 2, 7, 4, 7, 1, 6, 1, 1, 2, 1, 1, 4, 1, 1, 2, 2, 1, 1, 1, 1, 1,
       2, 2, 2, 2], dtype=int64)

In [26]:
y_test.values

array([1, 2, 7, 4, 7, 1, 6, 1, 1, 2, 1, 1, 4, 1, 1, 2, 2, 1, 1, 1, 1, 1,
       2, 2, 3, 2], dtype=int64)